body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    height: 900px;
}

.leftDash {
    width: 48%;
    float: left;
    height: 50%;
}

.rightDash {
    width: 48%;
    float: right;
    height: 50%;
}

.comboBox {
    float: right;
    margin-bottom: 10px;
}
.dashBoards {
    height: 100%;
}